{% extends "base.html" %}

{% block content %}

<h2>Клиенты</h2>

<a href="{% url 'clients:create' %}">
    Добавить клиента
</a>

<table border="1">

<tr>
    <th>Email</th>
    <th>Имя</th>
    <th>Комментарий</th>
    <th>Действия</th>
</tr>


{% for recipient in object_list %}

<tr>

<td>
    {{ recipient.email }}
</td>

<td>
    {{ recipient.full_name }}
</td>

<td>
    {{ recipient.comment }}
</td>

<td>

<a href="{% url 'clients:update' recipient.pk %}">
    Изменить
</a>


<a href="{% url 'clients:delete' recipient.pk %}">
    Удалить
</a>

</td>

</tr>


{% empty %}

<tr>
<td colspan="4">
    Клиентов пока нет
</td>
</tr>

{% endfor %}


</table>

{% endblock %}
